body {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    color: #fff;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 0 40px;
    border-radius: 4px;
  }
  
  .banner a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .banner a:hover {
    color: #f1c40f;
  }

  .goback-btn {
    background-color: #0f0f0f; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .goback-btn a {
    color: white;
    text-decoration: none;
  }
  
  .form-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 10px 600px;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .form-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .form-btn:hover {
    background-color: #222;
  }
  
  .form-result {
    margin-top: 20px;
  }
  body {
    background-color: #f4f4f4;
  }
